@page "/"
@inject IJSRuntime JS
@inject ITaskService taskService
@inject IMemberService memberService
@inject ISectionService sectionService
@attribute [Authorize]

<div class="titleContainer d-flex justify-content-center align-items-center">
    <h1 class="title">Welcome to <span class="titleName">T</span><MudIcon Color="Color.Secondary" Style="font-size: 2rem;" Icon="@Icons.Outlined.AlternateEmail" /><span class="titleName">sky</span></h1>

</div>
<div>
    <MudButton Variant="Variant.Text" Color="Color.Secondary" @onclick="ToggleInput">Section +</MudButton>

    @if (ShowInput)
    {
        <input type="text" placeholder="Enter Section" @bind-value="newSection.SectionName" @bind-value:event="oninput" />
        <button @onclick="SaveSection">Save</button>
    }
</div>

<div class="d-flex justify-content-between mb-3">
    @if (sections.Count == 0)
    {
        <div>no sections</div>
    }
    else
    {
        @foreach (Section sec in sections)
        {
            <SectionComponent sectionId="sec.SectionId" RefreshList="RefreshList" />
        }
    }

    @if (ShowOrHideAcceptanceCriteria == false)
    {
        <div @onclick="ToggleAcceptanceCriteriaVisibility" class="btn btn-outline-dark">
            Show Acceptance Criteria
        </div>
    }
    else
    {
        <div @onclick="ToggleAcceptanceCriteriaVisibility" class="btn btn-dark">
            Hide Acceptance Criteria
        </div>
    }
</div>

@if (tasks.Count == 0)
{
    <h2>Click the "+" to add your first task!</h2>

    <MudFab Color="Color.Info" Style="margin-top: 2rem;" StartIcon="@Icons.Material.Filled.Add" Size="Size.Medium" @onclick="AddNewTask" />
}
else
{
    @foreach (var task in tasks)
    {
        if (task.isSubTask == false)
        {
            <TaskComponent ShowOrHideCriteria="@ShowOrHideAcceptanceCriteria" Task="task" RefreshList="RefreshList" CallSubTask="() => AddNewSubTask(task.TaskId)" />

            @foreach (var t in subtasks)
            {
                if (t.LinkTo == task.TaskId)
                {
                    <TaskComponent ShowOrHideCriteria="@ShowOrHideAcceptanceCriteria" Task="t" RefreshList="RefreshList" CallSubTask="() => AddNewSubTask(task.TaskId)" />
                }
            }


            @*   @foreach (var pair in taskDictionary)
                {
                @if (pair.Value.isSubTask == true && pair.Value.LinkTo == task.TaskId)
                {
                <TaskComponent Task="pair.Value" RefreshList="RefreshList" CallSubTask="() => AddNewSubTask(task.TaskId)"></TaskComponent>
                }
                }*@


        }
    }


}

<div class="centerTask">
    <MudFab Color="Color.Info" Style="margin-top: 2rem; margin-left: 10rem;" StartIcon="@Icons.Material.Filled.Add" Size="Size.Medium" @onclick="AddNewTask" />
</div>






@code {
    public bool ShowInput = false;
    public bool ShowOrHideAcceptanceCriteria = false;

    public void ToggleInput()
    {
        ShowInput = !ShowInput;
    }

    void ToggleAcceptanceCriteriaVisibility()
    {
        ShowOrHideAcceptanceCriteria = !ShowOrHideAcceptanceCriteria;
        StateHasChanged();
    }

    //Dictionary<int, NoteModel> taskDictionary = new Dictionary<int, NoteModel>();
    NoteModel newTask = new NoteModel();
    List<NoteModel> tasks = new List<NoteModel>();
    List<NoteModel> subtasks = new List<NoteModel>();
    List<TaskComponent> taskComponents = new();

    Section newSection = new Section();
    List<Section> sections = new List<Section>();
    sectionNoteModel link = new sectionNoteModel();

    //public async Task DictionaryUpdate()
    //{
    //    @foreach (var task in tasks)
    //    {
    //        if (!taskDictionary.ContainsKey(task.TaskId))
    //        {
    //            taskDictionary.Add(task.TaskId, task);
    //        }
    //    }
    //}

    protected override async Task OnInitializedAsync()
    {
        tasks = await taskService.GetTasksInOrder();
        subtasks = await taskService.GetSubtasks();

        //await DictionaryUpdate();
        sections = await sectionService.GetSections();

        await memberService.GetMembers();
        await base.OnInitializedAsync();
    }


    async void SaveSection()
    {
        await sectionService.CreateSection(newSection);
        sections = await sectionService.GetSections();
        ShowInput = false;
        StateHasChanged();
    }



    void AddNewTask()
    {
        tasks.Add(newTask);
        newTask.Name = String.Empty;
        newTask.isSubTask = false;
        StateHasChanged();
    }

    void AddNewSubTask(int taskId)
    {
        subtasks.Add(newTask);
        newTask.Name = String.Empty;
        newTask.isSubTask = true;
        newTask.LinkTo = taskId;
        //await DictionaryUpdate();
        StateHasChanged();
    }


    public async Task RefreshList()
    {
        tasks = await taskService.GetTasksInOrder();
        subtasks = await taskService.GetSubtasks();
        sections = await sectionService.GetSections();
        StateHasChanged();
        Console.WriteLine("RefreshList Has Been Called");
    }
}