@using Tasky.Shared.DTOs;
@inject ISprintService sprintService
@inject ITaskService taskService


@if (sprintService.Sprints.Count > 0)
{
    <div class="d-flex flex-column" >

        <label for="sprints">Change Sprints:</label>
        <select name="sprints" style="margin-bottom: 1rem; margin-right: 1rem;" @bind-value="sprintIdNumber" @bind-value:event="oninput" @onchange="UpdateSprintValue">
            @foreach (var sprint in sprintService.Sprints)
            {
                <option value="@sprint.SprintId">@sprint.StartDate.ToShortDateString()</option>
            }
        </select>

        @*
    Display Sprint Id Number
    <div>Sprint Id #: @sprintIdNumber</div>
    *@

        <div @onclick="GetTaskList" class="drop-container d-flex flex-column align-items-center justify-content-center @dragClass"
             ondragover="event.preventDefault();"
         @ondragstart="DragStart"
         @ondragenter="DragEnter"
         @ondragleave="DragLeave"
         @ondrop="()=>HandleDrop(Payload.TaskId)">
            <div class="drop-container-text">
                Drag and Drop Tasks Here to Add to Sprint
            </div>

            @if (sprintService.Sprint != null)
            {
                <div class="sprintTasks">
                    @sprintService.Sprint.TasksSprints.Count
                </div>
            }

            <div class="sprintList @displaySprintItems">
                <p style="font-weight: bold;">Sprint Items</p>
                <ol>
                    @if (Sprint != null)
                    {
                        @foreach (var link in sprintService.Sprint.TasksSprints)
                        {
                         
                            <li>@link.TaskId <button style="color: red; margin-left: 1rem;" @onclick="() => RemoveTaskFromSprint(link.TaskId, sprintIdNumber)">Remove</button></li>
                        }
                    }
                </ol>
            </div>
        </div>
    </div>
}
else
{
    <div class="d-flex flex-column" @onclick="ShowInfo">

        <div class="drop-container d-flex flex-column align-items-center justify-content-center">
            <a class="drop-container-text" href="/sprintbacklog">Create a Sprint</a>


            <div class="sprintList @displaySprintItems">
                <p style="font-weight: bold;">Start Creating your sprint</p>
                <ol>
                    <li>Click Create a Sprint or go to the Sprint Backlog.</li>
                    <li>Click <b>Manage Sprints</b>.</li>
                    <li>Enter the appropriate information for your sprint.</li>
                    <li>Return to your backlog page and drag and drop into your sprint!</li>
                </ol>
            </div>
        </div>
    </div>
}




@code {

    [Parameter]
    public NoteModel? Payload { get; set; }

    [Parameter]
    public EventCallback OnDrop { get; set; }

    [Parameter]
    public EventCallback<int> IdNumber { get; set; }

    [Parameter]
    public EventCallback RemoveFromSprint { get; set; }

    SprintModel Sprint = new();
    SprintTaskDTO newLink = new();
    TasksSprints taskSprintLink = new();
    public int sprintIdNumber;
    public string displaySprintItems = "hide";

    public async Task HandleDrop(int taskId)
    {
        if (Payload != null)
        {
            newLink.SprintId = sprintService.Sprint.SprintId;
            newLink.TaskId = taskId;
            taskSprintLink.TaskId = newLink.TaskId;
            taskSprintLink.SprintId = newLink.SprintId;
            await sprintService.LinkSprint(newLink);
            await sprintService.GetSprintById(sprintIdNumber);
            StateHasChanged();
            newLink = new();
            await OnDrop.InvokeAsync();
        }
        dragClass = "";
    }

    void ToggleListVisibility()
    {
        if (displaySprintItems == "show")
        {
            displaySprintItems = "hide";
        }
        else
        {
            displaySprintItems = "show";
        }

    }

    async Task GetTaskList()
    {
        ToggleListVisibility();
        await sprintService.GetSprintById(sprintIdNumber);
        Sprint = sprintService.Sprint;
        StateHasChanged();
    }

    async Task ShowInfo()
    {
        ToggleListVisibility();
        StateHasChanged();
    }

    async void RemoveTaskFromSprint(int taskId, int sprintId)
    {
        //do not have to remove from sprint, only update because the AssignedToSprint property will always be null until the [JsonIgnore] is removed.
        //NoteModel task = await taskService.GetTaskById(taskId);
        await sprintService.DeleteSprintTaskRelationship(taskId, sprintId);
        //await taskService.UpdateTask(task);
        await sprintService.GetSprintById(sprintIdNumber);
        await RemoveFromSprint.InvokeAsync(taskId);
        Sprint = sprintService.Sprint;
        StateHasChanged();
        //refresh the container
    }

    async void UpdateSprintValue()
    {
        await sprintService.GetSprintById(sprintIdNumber);
        await IdNumber.InvokeAsync(sprintIdNumber);
        StateHasChanged();
    }

    private string dragClass = string.Empty;

    void DragEnter()
    {
        dragClass = "color";
    }
    void DragLeave()
    {
        dragClass = "";
    }
    void DragStart()
    {
        dragClass = "expand";
    }

    protected override async Task OnInitializedAsync()
    {
        await sprintService.GetSprints();
        if (sprintService.Sprints.Count > 0)
        {
            //Needs to be adjusted to the last sprint instead of the first sprint.
            sprintIdNumber = sprintService.Sprints.Last().SprintId;
            await sprintService.GetSprintById(sprintIdNumber);
        }
        await base.OnInitializedAsync();
    }

}
